<!-- View of Log in -->

<div>
  <form name="loginForm" class="form-horizontal" ng-submit="vm.submit()">
    <div class="form-group">
      <label for="email" class="col-sm-4 control-label">Email</label>
      <div class="col-sm-4">
        <input type="email" class="form-control" name="email" id="email"
               required placeholder="Your registered email" ng-model="vm.formLogin.email">
        <span ng-show="loginForm.email.$error.email">Please enter a valid email address</span>
      </div>
    </div>

    <div class="form-group">
      <label for="password" class="col-sm-4 control-label">Password</label>
      <div class="col-sm-4">
        <input name="password" id="password" type="password" class="form-control"
               required placeholder="Your password"  ng-model="vm.formLogin.password" ng-minlength="3" ng-maxlength="15">
               <span ng-show="loginForm.password.$error.minlength">Password must be at least 3 characters</span>
               <span ng-show="loginForm.password.$error.maxlength">Password must be at most 15 characters</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-4">
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </div>
    </div>
    <div class="">
      Don't have an account?<a href="#/register">Sign Up now</a>
    </div>
</div>
